/* PROTOSTAR TPL */

.header-search {
	min-width: 240px; /* CHANGE THIS VALUE IN % OR PX */
}

/* SEARCH EXPANDER */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

.sb-search {
	-webkit-user-select: none; /* Chrome/Safari */ 
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.sb-search-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sb-search {
	position: relative;
	margin-top: 2px;
	width: 0%;
	min-width: 36px;
	height: 36px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #eee!important;
	outline: none;
	background: #fff;
	width: 100%;
	height: 36px;
	margin: 0;
	z-index: 10;
	padding: 8px 42px 8px 8px!important;
	color: #333;
}

.sb-search-input::-webkit-input-placeholder {
	color: #333;
}

.sb-search-input:-moz-placeholder {
	color: #333;
}

.sb-search-input::-moz-placeholder {
	color: #333;
}

.sb-search-input:-ms-input-placeholder {
	color: #333;
}

.sb-icon-search,
.sb-search-submit  {
	width: 36px;
	height: 36px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE NEEDS THIS */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #333;
	background: #f9f9f9;
	z-index: 90;
	font-size: 14px;
	font-family: 'IcoMoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\53";
}

/* OPEN STATE */

.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #eee;
	color: #333;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
